.hamburger__content__header {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}
.bluebold{
    font-weight: 800;
    color: blue;
    align-content: center;
}


.signup-form {
    width: 98%;
  }
  
  mat-form-field {
    width: 98%;
  }

  mat-checkbox {
      align-self: flex-start;
  }

  .sign-in-form {
      margin-bottom: 20px;
  }

  .space {
      margin-left: 10px;
  }