body {
 margin: 0, 0;
 padding: 0, 0;
 height: 100%;
}
.search {
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color:#f8f8ff;
    border-radius: 4px;
}
mat-toolbar {
    padding-right: 10%;
    padding-left: 10%;
}
@media only screen and (max-width: 600px) {
    mat-toolbar {
      padding: 0px;
    }
  }