.hamburger__content__header {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}
.bluebold{
    font-weight: 800;
    color: blue;
    align-content: center;
}


.signup-form {
    width: 98%;
  }
  
  mat-form-field {
    width: 98%;
  }

  mat-checkbox {
      align-self: flex-start;
  }

  .sign-in-form {
      margin-bottom: 20px;
  }

  .footer {
      width: 98%;
      text-align: center;
      color: #64707D;
      padding-top: 20px;
  }

  .wid {
    min-width: 60%;
  }

  li {
      font-weight:250;
      padding-right: 30px;
  }

  ul {
    list-style-type: none;
  }