<div *ngIf="articles">
    <section  style="margin-top: 20px; width: 100%;" *ngFor="let artcile of articles">
        <mat-card >
                <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                    <a href="{{artcile.url}}" target="_blank">
                    <img src="{{artcile.cover_image}}" mat-card-image >
                    </a>
                    <div fxLayout="row" style="align-self:flex-start;">
                        <img src="{{artcile.user.profile_image}}" style="border-radius: 70%; width: 2rem; height: 2rem; " >
                        <div fxLayout="column" fxLayoutGap="1px" style="margin-left: 5px;">
                        <p style="font-weight: bolder;">{{artcile.user.name}}</p>
                        <p>{{artcile.published_at }}</p>
                        </div>
                    </div>
                    
                    <h1 style="font-weight: bolder;">{{artcile.description}}</h1>
                        
                        <ul fxLayout="row" style="align-self: flex-start;" fxLayoutGap="5px">
                            <li *ngFor="let tag of artcile.tag_list" role="listitem">#{{tag}}</li>
                        </ul>
                        <ul  fxLayout="row" style="align-self: flex-start;">
                            <li role="listitem"><mat-icon> comment</mat-icon>{{artcile.comments_count}} comments</li>
                            <li role="listitem"><mat-icon>thumbs_up_down</mat-icon>{{artcile.public_reactions_count}}  reactions</li>
                        </ul>
                        <ul fxLayout="row" style="align-self: flex-end;">
                            <li role="listitem"> 5 min read</li>
                            <mat-chip style="padding: 10px; border-radius: 25%;">Save</mat-chip>
                        </ul>
                </mat-card-content>
                    
        </mat-card>
    </section>
</div>