<!-- <div class='body'>
    <app-nav-list  fxFlex="20" fxHide.xs ></app-nav-list>
    <div style="width: 100%; background-color:  lightseagreen;"></div>
    <div fxFlex='20' fxLayout fxLayoutAlign="flex-end"  style="background-color: lightgreen;" fxHide.xs> </div>
</div> -->
<div class='body'>
    <app-nav-list  fxFlex="20"  fxHide.xs></app-nav-list>
    <div fxFlex="50" fxFlex.xs="100%" style="margin: 20px;">
        <h1>Posts</h1>
        <mat-tab-group dynamicHeight  mat-align-tabs="end">
            <mat-tab label="Feed">
              <div class="example-small-box mat-elevation-z4">
                <app-post></app-post>
              </div>
            </mat-tab>
            <mat-tab label="Week">
              <div class="example-large-box mat-elevation-z4">
                Large content
              </div>
            </mat-tab>
            <mat-tab label="Month">
                <div class="example-large-box mat-elevation-z4">
                  Large content
                </div>
              </mat-tab>
              <mat-tab label="Infinity">
                <div class="example-large-box mat-elevation-z4">
                  Large content
                </div>
              </mat-tab>
              <mat-tab label="Latest">
                <div class="example-large-box mat-elevation-z4">
                  Large content
                </div>
              </mat-tab>
          </mat-tab-group>
    </div>
    <div fxFlex='20' fxLayout="column" fxHide.xs style="margin-right: 20px;"> 
    <h1>Stories</h1>
    <hr>
    <mat-list role="list" >
        <mat-list-item role="listitem">SheCoded 2021 — Stories From Women Building Software and the Allies Supporting Them</mat-list-item>
        <mat-list-item role="listitem">Nevertheless, she podcasted</mat-list-item>
        <mat-list-item role="listitem">Happy International Women's Day to the Women Building Online Community 💖</mat-list-item>
    </mat-list>
</div>
