<section class="sign-in-form" fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxFlex.xs="100%" fxFlex="200px" style="padding: 50px; padding-bottom: 200px;" class="wid" >
                <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                    <section class="signup-form">
                        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <h1 style="align-self:flex-start;">Forget your password</h1>
                          <mat-form-field>
                            <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
                            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
                            <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
                          </mat-form-field>
                          <button type="submit" style="width: 100%;" mat-raised-button color="primary" [disabled]="f.invalid">Show me reset password instrauctions</button>
                        </form>
                      </section>
                </mat-card-content>
                
    </mat-card>
    <div class="footer">
        <p>Open Source· Free Forever </p>
        <br>
        <p>We strive for transparency and don't collect excess data</p>
    </div>
</section>
<app-footer></app-footer>